<div class="card">
    <div class="card-header">
        <h2 class="post" data-id="{{post.id}}"> {{post.title}}</h2> <span>posted by {{post.user.name}} on {{post.createdAt}}</span>
    </div>
    <div class="card-content">
        <textarea id="post-content" rows="10" cols="70">{{post.content}}</textarea>
    </div>
</div>

<div class="center">
    <button id="delete-btn" data-id="{{post.id}}">delete post</button>
    <button id="edit-btn" data-id="{{post.id}}">save changes</button>
</div>

<div class="card comments-div">
<h3>Comments</h3>
{{#each comments as |comment|}}
    <div class="card comment">
        <p class="comment-content" data-id="{{comment.id}}"> {{comment.content}}</p>
        <p class="card-foot">--posted by {{comment.user.name}} on {{comment.createdAt}}</p>
    </div>
{{/each}}
</div>

<script src="/js/dashboard-post.js"></script>