<div class="list-div">
  {{#each posts as |post|}}
  <div class="card">
    <div class="card-header">
      <h2 class="post" data-id="{{post.id}}"> {{post.title}}</h2> <span>posted by {{post.user.name}} on {{post.createdAt}}</span>
    </div>
    <div class="card-content">
      <p>{{post.content}}</p>
    </div>
  </div>
  {{/each}}
</div>
<div class="center">
<button onclick="location.href='/posting/{{posts.[0].author}}';" id="add-post">Create New Post</button>
</div>
<script src="/js/dashboard.js"></script>