<div class="card">
    <div class="card-header">
      <h2 data-id="{{post.id}}"> {{post.title}}</h2> 
    </div>
    <div class="card-content">
      <p>{{post.content}}</p>
    </div>
    <div class="card-foot">
        <p>posted by {{post.user.name}} on {{post.createdAt}}</p>
    </div>
</div>
<div class="card comments-div">
    <h3>Comments</h3>
    {{#each comments as |comment|}}
        <div class="card comment">
            <p class="card-content" data-id="{{comment.id}}"> {{comment.content}}</p>
            <p class="card-foot">--posted by {{comment.user.name}} on {{comment.createdAt}}</p>
        </div>
    {{/each}}
    <div class="center">
        <textarea id="comment-input"  cols="30" rows="10" placeholder="Add a comment"></textarea>
        <br/>
        <button id="new-comment" data-id="{{post.id}}" data-author="{{post.author}}">Post Comment</button>
    </div>
</div>

<script src="/js/comment.js"></script>